input.cc_number {
    .unitize-width(70);
}

.cc_checkcode_notice {
    display: block;
    font-size: smaller;
}

.ipayment--distance-top {
    .unitize(margin-top, 20);

    label {
        .unitize-width(390);
        display: inline-block;
    }
}

.ipayment--distance-top-amount {
    .unitize(margin-top, 30);

    label {
        .unitize-width(165);
        display: inline-block;
    }
}

.ipayment--select-month {
    .js--fancy-select {
        .unitize-width(85);
    }

    .clearfix();
}

.ipayment--label-select-month {
    display: block;
    .unitize(line-height, 42);
}

.ipayment--distance-top .btn.is--primary.right {
    float: none;
    .unitize(margin-top, 10);
}

@media screen and (min-width: @phoneLandscapeViewportWidth) {
    .ipayment--distance-top {
        label {
            .unitize-width(160);
        }
    }

    .ipayment--distance-top .btn.is--primary.right {
        float: right;
        .unitize(margin-top, 0);
    }

    .cc_checkcode_notice {
        .unitize(margin-left, 165);
        font-size: inherit;
    }
}

@media screen and (min-width: @tabletViewportWidth) {
    .ipayment--image {
        float: right;
    }
}